# {{ bash_hosts_aliases }}
# {{ comment }}

{% for host in ansible_play_hosts_all %}
# {{ host }} ----- {{ hostvars[host].ansible_host | default('') }}
alias ssh{{ hostvars[host].alias | default(host) }}='ssh {{ hostvars[host].ansible_user | default("ansible") }}@{{ host }}'
{% if create_editor_aliases | default(true) | bool %}
alias vs{{ hostvars[host].alias | default(host) }}='{{ editor_path }} --folder-uri "vscode-remote://ssh-remote+{{ hostvars[host].ansible_user | default("ansible") }}@{{ host }}{{ hostvars[host].vspath | default("") }}"'

{% else %}

{% endif %}
{% endfor %}
