# {{ bash_hosts_aliases }}
# {{ comment }}

{% for hostname, ip, alias, vspath, ssh_user in dev_hostnames | zip(dev_ips, dev_alias, dev_vspaths, dev_ansible_ssh_users) %}
# {{ hostname }} ----- {{ ip }}
alias ssh{{ alias }}='ssh {{ ssh_user }}@{{ hostname }}'
{% if create_editor_aliases | default(true) | bool %}
alias vs{{ alias }}='{{ editor_path }} --folder-uri "vscode-remote://ssh-remote+{{ ssh_user }}@{{ hostname }}{{ vspath }}"'

{% else %}

{% endif %}
{% endfor %}
